<body id="explanation" class="common-structure">
    <header>
        <button id="returnToMenu" onclick="exitModule();">
            <img src="images/buttons/{{toLowerCase name}}-menu-home-small.svg" alt="Click to return to home">
        </button>
    </header>
    <section id="navigation-tab">
        <a onclick="jumpSection('{{heartId}}' + '-oe.html', 'Case Details');">Case Details
             <p class="module-descriptions">Click to find out details of the case presentation, background, examination findings and a chest x-ray</p>
        </a>
        <a onclick="jumpSection('{{heartId}}' + '-interaction.html', 'Exploration');">Exploration
            <p class="module-descriptions">Click to explore the cardiac defects using an interactive 3D-model</p>
        </a>
        <a onclick="jumpSection('{{heartId}}' + '-explanation.html', 'Explanation');">Explanation</a>
    </section>
    <img id="banner-image" src="images/photos/{{toLowerCase name}}.jpg">
    <section id="content-half">
        <div id="module-name">  
            <h1>{{name}}'s Story</h1>
            <h3>Explanation</h3>
            <img class="profile" src="images/photos/{{toLowerCase name}}-recrop.png">
        </div>

        <div class="text-content-wrapper">
            {{#each explanation}}
            {{makeModuleSlides this "How would you link the above cardiac defects to the clinical presentation? What is the diagnosis?"}}
            {{/each}}

            <section class="content module-slide">
                <p class="case-content">You have completed this cardiac case. Click on the home button to select another case.</p>
            </section>
        </div>

        <section id="buttons-container">
            <button id="previous" class="nav-button" onclick="nextSlide(-1);">
                <svg width="33" height="29" viewBox="0 0 33 29" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M29.5305 26.2037L18 14.6731L29.5305 3.14258"/>
                    <path d="M14.5305 26.2037L2.99997 14.6731L14.5305 3.14258"/>
                </svg>
            </button>
            <button id="next" class="nav-button" onclick="nextSlide(1);">
                <svg width="63" height="29" viewBox="0 0 63 29" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M3 26.2037L14.5305 14.6731L3 3.14258"/>
                    <path d="M18 26.2037L29.5305 14.6731L18 3.14258"/>
                    <path d="M33 26.2037L44.5305 14.6731L33 3.14258"/>
                    <path d="M48 26.2037L59.5305 14.6731L48 3.14258"/>
                </svg>
            </button>
            <button id="next-module" class="text-button" onclick="nextModule();">Home</button>
        </section>

    </section>
    <section id="image-half">
        <img class="story-illustration" src="images/illustrations/{{toLowerCase name}}-explanation.svg">
    </section>

</body>

<script>
    //This is for the explanation section of the module

    var tabletMode;
    function mediaQueryModifier(x) {
        if (x.matches) { // If media query matches
            tabletMode = true;
        } else {
            tabletMode = false;
        }
    }

    var tabletSize = window.matchMedia("(max-width: 824px)")
    mediaQueryModifier(tabletSize) // Call listener function at run time
    tabletSize.addListener(mediaQueryModifier) // Attach listener function on state changes

    //////////////////////////////////////// COLOUR SWITCH //////////////////////////////////////
    switch ("{{name}}") {
        case "Ben":
            document.documentElement.style.setProperty("--module-colour", "#9B51E0")
            break
        case "Ayanthi":
            document.documentElement.style.setProperty("--module-colour", "#EB5757")
            break
        case "Amin":
            document.documentElement.style.setProperty("--module-colour", "#2F80ED")
            break
        case "Lucy":
            document.documentElement.style.setProperty("--module-colour", "#27AE60")
            break
        default:
            break
    }
    ////////////////// TOP LEFT EXIT MODULE ////////////////////
    //Warning to prevent user from accidentally leaving the module
    function exitModule() {
        Swal.fire({
            title: 'Leave Module?',
            text: 'You will be taken back to the Modules Homepage.',
            icon: 'warning',
            showCancelButton: true,
            cancelButtonText: 'Cancel',
            confirmButtonText: 'Leave',
            reverseButtons: true
        }).then((result) => {
            if (result.value) {
                window.location.href = "index.html";
            }
        })
    }

    //////////////////////////////////////// NAVIGATION TAB  //////////////////////////////////////
    //checking for the path name
    var path = window.location.pathname;
    var page = path.split("/").pop();

    //highlighting the text to show the current page displayed
    if (page.includes('oe')) {
        document.querySelectorAll('#navigation-tab a')[0].style.color = "black";
        document.querySelectorAll('#navigation-tab a')[0].style.fontWeight = "700";
        document.querySelectorAll('#navigation-tab a')[0].style.cursor = "default";
    } else if (page.includes('interaction')) {
        document.querySelectorAll('#navigation-tab a')[1].style.color = "black";
        document.querySelectorAll('#navigation-tab a')[1].style.fontWeight = "700";
        document.querySelectorAll('#navigation-tab a')[1].style.cursor = "default";
    } else if (page.includes('explanation')) {
        document.querySelectorAll('#navigation-tab a')[2].style.color = "black";
        document.querySelectorAll('#navigation-tab a')[2].style.fontWeight = "700";
        document.querySelectorAll('#navigation-tab a')[2].style.cursor = "default";
    }

    //If the user clicks on a different section to jump to, warn them before they jump to it
    function jumpSection(destination, sectionName) {
        if (destination == page) {
        } else {
            Swal.fire({
                title: 'Start ' + sectionName + '?',
                text: 'You will leave this section.',
                icon: 'warning',
                showCancelButton: true,
                cancelButtonText: 'Cancel',
                confirmButtonText: 'Start',
                reverseButtons: true
            }).then((result) => {
                if (result.value) {
                    window.location.href = destination;
                } else if (result.dismiss === Swal.DismissReason.cancel) {
                }
            })
        }
    }

    ///////////////////////////////// AT THE END OF A MODULE ///////////////////////////
    //at the end of the module, automatically forward user to the next section - in this case the module home
    function nextModule() {
        window.location.href = "index.html";
    }

    ////////// USING LOCAL STORAGE TO OFFSET IF USER NAVIGATES TO PREVIOUS SLIDE FIXING/////////////
    document.getElementById('previous').addEventListener('click', function pointViewCount() {
        localStorage.setItem('prevCurrentPoint', currentPoint);
    })

    /////////////////////////////////// PROGRESSION THROUGH SLIDES ///////////////////////////////
    let pointIncrement = 0;
    //function to show current slide
    function showSlide(currentSlide) {
        //if the current slide is the first one, hide the previous button and show the next button only
        if (currentSlide == 0) {
            document.getElementById('previous').style.visibility = "hidden"
            document.getElementById('next').style.visibility = "visible"
            //if the current slide is the second last one, show the next-module button, hide the next button and show the previous button
        } else if (currentSlide == (document.querySelectorAll('.module-slide').length - 1)) {
            document.getElementById('previous').style.visibility = "visible"
            document.getElementById('previous').style.display = "flex"
            document.getElementById('next-module').style.visibility = "visible"
            document.getElementById('next-module').style.display = "flex"
            document.getElementById('next').style.visibility = "hidden"
            document.getElementById('next').style.display = "none"
            //show both the previous and next buttons and hide the next-module button at all other times
        } else {
            document.getElementById('previous').style.visibility = "visible"
            document.getElementById('previous').style.display = "flex"
            document.getElementById('next').style.visibility = "visible"
            document.getElementById('next').style.display = "flex"
            document.getElementById('next-module').style.visibility = "hidden"
            document.getElementById('next-module').style.display = "none"
        }

        //show this slide a.k.a current slide
        var thisSlide = document.getElementsByClassName('module-slide')[currentSlide];
        thisSlide.style.display = "flex";
        var caseContent = document.querySelectorAll('.case-content');
    }

    //Progression through slides
    var currentSlide = 0;
    function nextSlide(n) {
        //hide the previous slide
        var previousSlide = document.getElementsByClassName('module-slide')[currentSlide];
        previousSlide.style.display = "none";
        //add or minus 1 to current slide, depending on previous or next button click
        currentSlide += n;
        //display the slide
        showSlide(currentSlide);
    }
    showSlide(currentSlide);

    ////////////////////////////////// PROGRESSION THROUGH POINT CONTENT /////////////////////////////

    //This both a progression and display function for showing each point in the module
    var currentPoint = 0;
    function nextPoint(n) {
        //x is the number of elements with the class case-content within the current slide
        var x = document.getElementsByClassName('module-slide')[currentSlide].querySelectorAll('.case-content').length;
        //Add or minus 1 to the current point, depending on previous or next button click
        currentPoint += n;
        pointIncrement++;
        var thisPoint = document.getElementsByClassName('case-content')[currentPoint];

        //if the current point is less than the number existing in this slide
        if (currentPoint < x) {
            //show it
            thisPoint.style.visibility = "visible";
            //if the points on this slide have already been displayed, add on the number to the current point count so that the it skips to the next slide
        } else if (localStorage.hasOwnProperty('prevCurrentPoint') == true) {
            currentPoint == (parseInt(localStorage.getItem('prevCurrentPoint')));
            document.getElementById('next').setAttribute("onclick", "nextSlide(1);");
            document.getElementById('next').click();
            localStorage.clear();
            currentPoint--;
            //if the current point is the maximum number of points in this slide, clear the class name, move on
        } else if (currentPoint == x) {
            for (let i = 0; i < currentPoint; i++) {
                document.getElementsByClassName('module-slide')[currentSlide].querySelectorAll('.case-content')[0].classList = "";
            }
            document.getElementById('next').click();
            document.getElementById('next').setAttribute("onclick", "nextSlide(1);");
            document.getElementById('next').click();
        } else {
            document.getElementById('next').setAttribute("onclick", "nextSlide(1);");
            document.getElementById('next').click();
            currentPoint = 0;
        }
    }

    ////////////////////// FIX THE SCROLL LEVEL /////////////////
    var textContentWrapper = document.getElementsByClassName('text-content-wrapper')[0];
    var moduleName = document.getElementById('module-name');
    textContentWrapper.addEventListener('scroll', function scrollShadow() {
        if ((textContentWrapper.scrollHeight > textContentWrapper.clientHeight) && (textContentWrapper.scrollTop > 5) && (tabletMode == false)) {
            moduleName.style.boxShadow = "0 4px 4px -4px grey"
        } else {
            moduleName.style.boxShadow = "none";
        }
    });


</script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>